{% extends 'base.html' %}
{% block content %}
<h2>All Posts</h2>

<a href="/create_post/" title="" class="button">Create post</a>

<br />

{% for post in lastest_post %}
<div style="margin-top:20px;padding-bottom:10px;border-bottom:1px solid #ddd;">
    <a href="/post/{{ post.key }}/" title=""><h4>{{ post.title }}</h4></a>
    <small><i>{{ post.date.ctime }}</i></small>
    <p>{{ post.content|escape }}</p>
    <a href="/delete_post/{{ post.key }}/" title="" class="button button-remove">Delete post</a>
    <a href="/edit_post/{{ post.key }}/" title="" class="button">Edit post</a>
</div>
{% endfor %}
{% endblock %}

